# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
venv

# Editor & OS
.DS_Store
*.swp

# Media & Static
media/*
!media/.gitkeep
static/*
!static/.gitkeep

# Data
db.sqlite3

# Secrets
service-account-key.json
app.yaml
.env
.env-common
